module.exports	= {
	API_PORT: "8888",
	API_ADDRESS: "127.0.0.1",
	ADMIN_USERNAME: "root",
	ADMIN_PASSWORD: "toor",
	DEBUG: "1",
	TERMINAL_TO_SPAWN: "",
	SSL_KEY_PATH: "",
	SSL_CERT_PATH: "",
	NODE_ENV: "dev",
	USER_PERSIST_INTERVAL: "4000"
};