module.exports	= {
	APP_PORT: process.env.APP_PORT || "80",
	APP_ADDRESS: process.env.APP_ADDRESS || "0.0.0.0",
	ADMIN_USERNAME: process.env.ADMIN_USERNAME || "root",
	ADMIN_PASSWORD: process.env.ADMIN_PASSWORD || "toor",
	DEBUG: process.env.DEBUG || "1",
	SSL_KEY_PATH: process.env.SSL_KEY_PATH || "",
	SSL_CERT_PATH: process.env.SSL_CERT_PATH || "",
	NODE_ENV: process.env.NODE_ENV || "production",
	SUDO: process.env.SUDO || "0",
	USER_DATA_PATH: process.env.USER_DATA_PATH || "/data"
};
