.folder
{
	text-decoration: none;
	cursor: pointer;
}

.add-folder
{
}

.file-size
{
	margin-left: 5px;
}

.file
{
	text-decoration: none;
	cursor: default;
}

.folder-name
{
	font-size: 15px !important;
	text-align: center;
	white-space: nowrap;
}

.folder-icon
{
	text-align: center;
	font-size: 15px !important;
	margin-right: 5px;
}

.file-name-hr
{
	margin-bottom: 0;
	margin-top: 3px;
}

.item
{
	user-select:none;
}

.item-row
{
	border-radius: 10px;
}

.no-preview
{
	text-decoration: none;
	cursor: default;
	text-underline: none;
	pointer-events: none;
}

.has-preview
{
	text-decoration: none;
	text-underline: none;
	font-weight: bold;
}

.has-preview:hover
{
	cursor: pointer;
}


.card-body
{
	text-align: center;
}

.file-name
{
	margin-left: 10px;
	text-decoration: none;
}

.face-button {
	margin: auto;
	margin-top: 20px;
	width: 120px;
	border-radius: 25px;
	height: 40px;
	display: block;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
}

.face-button .face-primary, .face-button .face-secondary {
	display: block;
	line-height: 40px;
	transition: margin 0.4s;
}

.face-button:hover .face-primary {
	margin-top: -40px;
}

.file-delete.face-button {
	margin: auto;
	margin-top: 20px;
	width: 120px;
	border-radius: 25px;
	height: 40px;
	display: block;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
}

.file-delete.face-button .face-primary, .file-delete.face-button .face-secondary {
	display: block;
	line-height: 40px;
	transition: margin 0.4s;
}

.file-delete.face-button:hover .face-primary {
	margin-top: -40px;
}

.deleteButton {
	float: right;
	display: none;
	font-size: 20px;
}

.item:hover .deleteButton{
	display: inline-block!important;
}