.folder
{
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.add-folder
{
}

.file-size
{
	margin-left: 5px;
}

.file
{
	text-decoration: none;
	color: white;
	cursor: default;
}

.folder-name
{
	font-size: 20px !important;
	text-align: center;
	white-space: nowrap;
	color: gray;
}

.folder-icon
{
	color:darkgray;
	text-align: center;
	font-size: 20px !important;
	margin-right: 5px;
}

.file-name-hr
{
	margin-bottom: 0;
	margin-top: 3px;
	border-top: 1px dashed lightgray;
}

.file-name-icon
{
	color: #c55454;
}

.item
{
	user-select:none;
}

.item-row
{
	border-radius: 10px;
	border: 1px solid gray;
}

.no-preview
{
	color: darkgray;
	text-decoration: none;
	cursor: default;
	text-underline: none;
	text-underline-color: darkgray;
	pointer-events: none;
}

.has-preview
{
	text-decoration: none;
	text-underline: none;
	text-underline-color: darkgray;
	color: white;
	font-weight: bold;
}

.has-preview:hover
{
	color: white !important;
	cursor: pointer;
}

.no-preview:hover
{
	color: darkgray;
}

.card-body
{
	text-align: center;
}

.file-name
{
	margin-left: 10px;
	text-decoration: none;
}

.face-button {
	margin: auto;
	margin-top: 20px;
	width: 120px;
	border-radius: 25px;
	height: 40px;
	display: block;
	border: 1.5px dashed white;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	color: white;
	overflow: hidden;
}
.face-button .face-primary, .face-button .face-secondary {
	display: block;
	line-height: 40px;
	color: white;
	transition: margin 0.4s;
}
.face-button .face-primary {
	background-color: #343a40;
	color: white ;
}
.face-button:hover .face-primary {
	margin-top: -40px;
}

.file-delete.face-button {
	margin: auto;
	margin-top: 20px;
	width: 120px;
	border-radius: 25px;
	height: 40px;
	display: block;
	border: 1.5px dashed #c55454;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
}
.file-delete.face-button .face-primary, .file-delete.face-button .face-secondary {
	display: block;
	line-height: 40px;
	color: #c55454;
	transition: margin 0.4s;
}
.file-delete.face-button .file-delete.face-primary {
	background-color: #343a40;
	color: #c55454;
}
.file-delete.face-button:hover .face-primary {
	margin-top: -40px;
}

.deleteButton {
	float: right;
	color: #c55454;
	display: none;
	font-size: 20px;
}

.item:hover .deleteButton{
	display: inline-block!important;
}