.file-delete.face-button {
    margin: auto;
    margin-top: 20px;
    width: 120px;
    border-radius: 25px;
    height: 40px;
    display: block;
    border: 1.5px dashed indianred;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}
.file-delete.face-button .face-primary, .file-delete.face-button .face-secondary {
    display: block;
    line-height: 40px;
    color: indianred;
    transition: margin 0.4s;
}
.file-delete.face-button .file-delete.face-primary {
    background-color: white;
    color: indianred;
}
.file-delete.face-button:hover .face-primary {
    margin-top: -40px;
}

.deleteButton {
    float: right;
    color: indianred;
    display: inline-block;
    font-size: 20px;
}
