@import url('//fonts.googleapis.com/css?family=Roboto:500');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.face-button {
    margin: auto;
    margin-top: 20px;
    width: 120px;
    border-radius: 25px;
    height: 40px;
    display: block;
    border: 1.5px dashed deepskyblue;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: white;
    overflow: hidden;
}
.face-button .face-primary, .face-button .face-secondary {
    display: block;
    line-height: 40px;
    color: deepskyblue;
    transition: margin 0.4s;
}
.face-button .face-primary {
    background-color: white;
    color: deepskyblue ;
}
.face-button:hover .face-primary {
    margin-top: -40px;
}
 