body {
	padding-top: 90px;
	background: #343a40;
}

@media (min-width: 768px) {
	body {
		padding-top: 0;
		margin-left: 232px;
		background: #343a40;
	}

	.navbar.fixed-left {
		border-right: 2px solid #c55454!important;
	}
}

.navbar.fixed-left {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
	border-right: 0;
}

@media (min-width: 768px) {
	.navbar.fixed-left {
		bottom: 0;
		width: 232px;
		flex-flow: column nowrap;
		align-items: flex-start;
	}
	.navbar.fixed-left .navbar-collapse {
		flex-grow: 0;
		flex-direction: column;
		width: 100%;
	}
	.navbar.fixed-left .navbar-collapse .navbar-nav {
		flex-direction: column;
		width: 100%;
	}
	.navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
		width: 100%;
	}
	.navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
		top: 0;
	}
}

@media (min-width: 768px) {
	.navbar.fixed-left {
		right: auto;
	}
	.navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
		border-top: 0.3em solid transparent;
		border-left: 0.3em solid;
		border-bottom: 0.3em solid transparent;
		border-right: none;
		vertical-align: baseline;
	}
	.navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
		left: 100%;
	}
}

.navbar{
	background: #343a40!important;
	border-bottom: 1px solid gray;
}

.nav-line
{
	margin-top: 50px;
	margin-bottom: 10px;
	border-bottom: 1px solid #c55454;
}

.navbar-action{
	font-size: 1.05em;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	color: rgba(255,255,255,.5);
	margin-top: 10px;
	cursor: pointer;
}

.navbar-action:hover{
	color: whitesmoke;
}

.dropdown-item:hover{
	background: transparent!important;
}

.inputfile {
	width: 0px;
	height: 0px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}