.folder
{
	text-decoration: none;
	color: deepskyblue;
	cursor: pointer;
}

.add-folder
{
	border: 1px dashed rgba(0,0,0,.125) !important;
}

.file-size
{
	margin-left: 5px;
}

.file
{
	text-decoration: none;
	color: deepskyblue;
	cursor: pointer;
}

.folder-name
{
	font-size: 20px !important;
	text-align: center;
	white-space: nowrap;
	color: gray;
}

.folder-icon
{
	color:darkgray;
	text-align: center;
	font-size: 20px !important;
	margin-right: 5px;
}

.file-name-hr
{
	margin-bottom: 0;
	margin-top: 3px;
	border-top: 1px dashed lightgray;
}

.file-name-icon
{
	color: indianred;
}

.item
{
	user-select:none;
}

.item-row
{
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,.125);
}

.no-preview
{
	color: black;
	text-decoration: none;
	cursor: default;
	text-underline: none;
	text-underline-color: black;
}

.has-preview
{
	color: deepskyblue;
}

.no-preview:hover
{
	color: black;
}

a:hover
{
	text-decoration: none !important;
}

.card-body
{
	text-align: center;
}

.file-name
{
	margin-left: 10px;
	text-decoration: none;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	border-radius: 10px;
	font-size: 1.25em;
	font-weight: 700;
	color: white;
	padding: 10px;
	background-color: slategrey;
	display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
	background-color: indianred;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
