body {
	background: #373a3d!important;
}

.folder-name
{
	color: rgba(255,255,255,.55);
}

.folder-icon
{
	color:rgba(255,255,255,.55);
}

.file
{
	color: rgba(255,255,255,.55);
}

.folder
{
	color: rgba(255,255,255,.55);
}

.file-name-hr
{
	border-top: 1px dashed rgba(255,255,255,.55);
}

.item-row
{
	border: 1px solid rgba(255,255,255,.55);
}

.no-preview
{
	color: rgba(255,255,255,.55);
	text-underline-color: rgba(255,255,255,.55);
}
.has-preview
{
	text-underline-color: whitesmoke;
	color: whitesmoke;
}

.has-preview:hover
{
	color: whitesmoke !important;
}

.no-preview:hover
{
	color: rgba(255,255,255,.55);
}

.face-button {
	border: 1.5px dashed rgba(255,255,255,.55);
	font-family: 'Roboto', sans-serif;
	color: rgba(255,255,255,.55);
}

.face-button .face-primary, .face-button .face-secondary {
	color: whitesmoke;
}

.face-button .face-primary {
	background-color: #373a3d;
	color: whitesmoke ;
}

.active{
    color: whitesmoke!important;
}

.navbar-action{
    color: rgba(255,255,255,.55);
}

.navbar-action:hover{
    color: whitesmoke;
}

.nav-element{
    color: rgba(255,255,255,.55);
}

.nav-element:hover{
    color: whitesmoke;
}

.dropdown-item:hover{
    background: transparent!important;
}

.navbar{
    background: #373a3d!important;
    border-bottom: 1px solid gray;
}

.color-gray
{
    color: gray;
}

.dropzone {
    border: 2px dashed rgba(255,255,255,.55);
    background: #373a3d!important;
    color: rgba(255,255,255,.55);
}

.loginForm{
    border: 1px solid rgba(255,255,255,.55);
}

.user-row
{
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.55);
    color: rgba(255,255,255,.55);
}

.inputfile:focus + label {
    outline: 1px dotted #000;
}

.modal {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    color: white !important;
    background-color: rgb(55, 58, 61) !important;
    border: 1px solid rgba(255,255,255,.55) !important;
}

.modal-button{
    background-color: rgb(55, 58, 61) !important;
    border: 1px solid rgba(255,255,255,.55) !important;
    color: whitesmoke;
}

.modal-button:hover{
    background-color: rgba(255,255,255,.55) !important;
    color: black !important;
}

.close {
    color: rgba(255,255,255,.55);
}

.file-delete.face-button {
	border: 1.5px dashed #fe2028;
	font-family: 'Roboto', sans-serif;
}

.file-name-icon
{
	color: #fe2028;
}

.file-delete.face-button .face-primary, .file-delete.face-button .face-secondary {
	color: #fe2028;
}

.file-delete.face-button .file-delete.face-primary {
	background-color: #373a3d;
	color: #fe2028;
}

.deleteButton {
	color: #fe2028;
}

@media (min-width: 768px) {
	.navbar.fixed-left {
		border-right: 2px solid #fe2028!important;
	}
}

.nav-line
{
	border-bottom: 1px solid #fe2028;
}

.close:hover,
.close:focus {
	color: #fe2028;
}

.btn-outline-main-red{
	color: #fe2028;
	border-color: #fe2028;
	background: transparent;
}

.btn-outline-main-red:hover{
	color: whitesmoke;
	border-color: #fe2028;
	background: #fe2028;
}

.white-text { color: #ffffff; }
.orange-text { color: #fda037; }
.green-text { color: #84ba41; }
.blue-text { color: #0097db; }
.red-text { color: #fe2028; }

.white-text:hover { color: #ffffff; }
.orange-text:hover { color: #fda037; }
.green-text:hover { color: #84ba41; }
.blue-text:hover { color: #0097db; }
.red-text:hover { color: #fe2028; }