<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body>
	<div class="container pt-5">
		<% if ( this.data ){ %>
		<div class="row">
			<% for( let index = 0; index < this.data.length; ++ index ) { %>
				<div class="card col-md-3">
					<!-- <img class="card-img-top" src="" alt="Card image cap"> -->
					<% if ( this.data[index].isDir ) { %>
						<a class="folder card-body" href="/browse?dir=<% this.data[index].encodedURI %>"><% this.data[index].name %></a>
					<% } %>
					<% if ( this.data[index].isDir === false){ %>
					<div class="card-body">
						<h5 class="card-title"><% this.data[index].name %></h5>
						<p class="card-text"><% Math.round( this.data[index].size / 1024, 2 ) %> KB</p>
						<div class="row ">
							<a href="<% '/download?file=' + this.data[index].encodedURI %>" class="col-sm">Download</a>
							<a href="#" data-file="<% this.data[index].encodedURI %>" class="delete-file col-sm">Delete</a>
							<% if ( this.data[index].previewAvailable ) { %>
								<a href="<% '/preview?file=' + this.data[index].encodedURI + '&backDir=' + this.dir %>" class="col-sm">Preview</a>
							<% } %>
						</div>
					</div>
					<% } %>
				</div>
			<% } %>
		</div>
		<% } %>

		<br>
		<br>
		<form class="was-validated" action="upload" method="post" enctype="multipart/form-data">
			<div class="custom-file">
				<input type="file" name="file" class="custom-file-input" required>
				<label class="custom-file-label">Choose file...</label>
			</div>
			<input type="hidden" name="directory" value="<% this.dir %>">
			<input type="hidden" name="directory" value="SOME THING ELSE BUD">
			<div class="custom-file">
				<input type="file" name="file" class="custom-file-input">
				<label class="custom-file-label">Choose file...</label>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
<script type="text/javascript">
	$( '.delete-file' ).on( 'click', ( event ) => {
		let element			= $( event.target );
		let fileToDelete	= element.attr( 'data-file' );
		fileToDelete		= decodeURIComponent( fileToDelete );
		$.ajax({
			url		: '/delete?file=' + fileToDelete,
			method	: 'DELETE',
			success	: function()
			{
				window.location.reload();
			}
		});
	});
</script>
</html>
