<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/dropzone.css">
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="/public/css/download.css">
	<link rel="stylesheet" href="/public/css/delete.css">
</head>
<body>

	<div id="template-folder-card" class="col-lg-3 folder" style="display:none;">
		<div class="mb-3 item-row p-3">
			<span class="folder-icon fa fa-folder">
				<span class="folder-name"></span>
			</span>
			<button class="deleteButton folder-delete" data-folder="">-</button>
		</div>
	</div>

	<div id="template-file-card" class="col-lg-4 file" style="display:none;">
		<div class="mb-4 item-row pr-3 pb-3 pl-3 pt-2">
			<div class="text-center">
				<span class="file-name-icon fa fa-file">
					<a href="#" class="card-title file-name no-preview file-preview"></a>
				</span>
			</div>

			<hr class="file-name-hr">

			<div class="row">
				<a class="col-md-5 face-button file-download" href="#">
					<div class="face-primary">
						<span class="icon fa fa-download"><span class="file-size"></span></span>
					</div>
					<div class="face-secondary">DOWNLOAD</div>
				</a>

				<a class="col-md-5 face-button file-delete" data-file="" href="#">
					<div class="face-primary"><span class="icon fa fa-trash"></span></div>
					<div class="face-secondary">DELETE</div>
				</a>
			</div>
		</div>
	</div>

	<div class="container pt-5" >
		<div class="row my-1 mb-md-5" id="directoryStructure" ></div>

		<div class="row" id="fileStructure"></div>

		<br>
		<br>

		<form action="/upload" class="dropzone">
			<input type="hidden" name="directory" id="upload-file" value="<%= dir %>">
		</form>

		<br>
		<br>

		<form action="/upload" method="POST" enctype="multipart/form-data" onchange="this.submit();" style="text-align: center">
			<input type="file" name="file" id="file" class="inputfile" webkitdirectory mozdirectory />
			<label for="file">Choose A Folder</label>
			<input type="hidden" name="directory" id="upload-dir" value="<%= dir %>" >
		</form>

		<hr>
		<div style="text-align: center" class="container pt-5">
			<h3>Public IP:</h3>
			<span>
				<b> <%= externalIP %> </b>
			</span>

			<h3>Local Interfaces:</h3>
			<span>
			<b>
				<% for ( interface in ipInterfaces ) { %>
					<div style="display: inline-block; margin-right: 25px;">
						<div>Name: <%= interface %> </div>
						<span>IPs: </span>

						<% for ( ip of ipInterfaces[interface] ) { %>
							<div style="margin-left: 5px;"><%= ip %></div>
						<% } %>
					</div>
				<% } %>
				<br>
				<br>
			</b>
		</span>
		</div>
	</div>

</body>
<script type="text/javascript" src="/public/js/library/jquery.js"></script>
<script type="text/javascript" src="/public/js/library/bootstrap.js"></script>
<script src="/public/js/library/dropzone.js"></script>
<script>
	let currentDir	= '<%= dir %>';
</script>
<script src="/public/js/main.js"></script>
</html>
