<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body>
	<div class="container pt-5">
		<% if ( this.data ){ %>
		<div class="row">
			<% for( let index = 0; index < this.data.length; ++ index ) { %>
				<div class="col-md-4 card mb-4 box-shadow h-md-250">
					<% if ( this.data[index].isDir ) { %>
						<a class="folder card-body" href="/browse?dir=<% this.data[index].encodedURI %>"><% this.data[index].name %></a>
					<% } %>
					<% if ( this.data[index].isDir === false){ %>
						<div class="card-body d-flex flex-column align-items-start">
							<% this.data[index].name %>
							<div><% Math.round( this.data[index].size / 1024, 2 ) %> KB</div>
						</div>
						<a class="btn btn-outline-primary" href="<% '/download?file=' + this.data[index].encodedURI %>">Download</a>
					<% } %>
				</div>
			<% } %>
		</div>
		<% } %>
	</div>
    <div class="container pt-5">
        <form action="upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file"><br>
			<!-- <input type="hidden" name="directory" value="<% this.dir %>"> -->
            <input type="submit">
        </form>
    </div>
</body>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
</html>
