<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/dropzone.css">
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="/public/css/download.css">
	<link rel="stylesheet" href="/public/css/delete.css">
	<link rel="stylesheet" href="/public/css/top-navbar.css">

	<meta charset="UTF-8">
	<title>Server Emulator</title>
</head>
<body>
	<%- include("components/nav-bar", { active: "browse" }) %>

	<ul class="contextmenu" id="contextmenu">
		<li>
			<a href="#" id="context-download" >
				<span class="icon fa fa-download"><span class="file-size"></span></span>
				Download
			</a>
		</li>
		<li>
			<a href="#" id="context-delete" >
				<span class="icon fa fa-trash"></span>
				Delete
			</a>
		</li>
		<li>
			<a href="#" id="context-copy" >
				<i class="fa fa-files-o" aria-hidden="true"></i>
				Copy
			</a>
		</li>
		<li>
			<a href="#" id="context-cut" >
				<i class="fa fa-scissors" aria-hidden="true"></i>
				Cut
			</a>
		</li>
		<li>
			<a href="#" id="context-rename" >
				<i class="fa fa-pencil" aria-hidden="true"></i>
				Rename
			</a>
		</li>
		<li>
			<a href="#" id="context-paste" style="display: none">
				<i class="fa fa-paste"></i>
				Paste
			</a>
		</li>
	</ul>
	<div id="template-folder-card" class="col-lg-3 folder" style="display:none;">
		<div class="mb-3 item-row p-3">
			<span class="folder-icon fa fa-folder">
				<span class="folder-name"></span>
			</span>

			<span class="deleteButton icon fa fa-trash folder-delete itemDelete" data-item=""></span>
		</div>
	</div>
	<div id="template-file-card" class="col-lg-4 file" style="display:none;">
		<div class="mb-4 item-row pr-3 pb-3 pl-3 pt-2">
			<div class="text-center">
				<span class="file-name-icon fa fa-file">
					<a href="#" class="card-title file-name no-preview file-preview"></a>
				</span>
			</div>

			<hr class="file-name-hr">

			<div class="row">
				<a class="col-md-5 face-button file-download" href="#">
					<div class="face-primary">
						<span class="icon fa fa-download"><span class="file-size"></span></span>
					</div>
					<div class="face-secondary">DOWNLOAD</div>
				</a>

				<a class="col-md-5 face-button file-delete itemDelete" data-item="" href="#">
					<div class="face-primary"><span class="icon fa fa-trash"></span></div>
					<div class="face-secondary">DELETE</div>
				</a>
			</div>
		</div>
	</div>

	<div class="container pt-5" >
		<form action="/upload" class="dropzone mb-5">
			<input type="hidden" name="directory" id="upload-file" value="<%= dir %>">
		</form>

		<div class="row my-1 mb-md-5" id="directoryStructure" ></div>

		<div class="row" id="fileStructure"></div>

		<br>
		<br>

		<form action="/upload" method="POST" enctype="multipart/form-data" onchange="this.submit();" style="text-align: center">
			<input type="file" name="file" id="file" class="inputfile" webkitdirectory mozdirectory />
			<label for="file">Choose A Folder</label>
			<input type="hidden" name="directory" id="upload-dir" value="<%= dir %>" >
		</form>
	</div>

</body>
<script type="text/javascript" src="/public/js/library/jquery.js"></script>
<script type="text/javascript" src="/public/js/library/bootstrap.js"></script>
<script type="text/javascript" src="/public/js/library/dropzone.js"></script>
<script>
	let currentDir	= '<%= dir %>';
</script>
<script src="/public/js/contextMenu.js"></script>
<script src="/public/js/main.js"></script>
</html>
