<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Preview</title>
</head>
<body>
	<% if ( type === 'mp4' ){ %>
		<video controls class="embed-responsive-item" style="width: 1080px; height: auto;">
			<source src="<%= src %>" type="video/mp4">
		</video>
	<% } %>

	<% if ( type === 'text' ){ %>
		<p class="data-field" data-src="<%= src %>"></p>
	<% } %>

	<% if ( type === 'image' ){ %>
		<img style="max-width: 1024px; height:auto" src="<%= src %>" alt="">
	<% } %>
</body>
<script type="text/javascript" src="/public/js/library/jquery.js"></script>
<!-- BETTER THIS -->
<script type="text/javascript">
	let dataField	= $( '.data-field' );

	if ( dataField.length === 1 )
	{
		let successCallback	= function ( result )
		{
			dataField.html( result.split( '\\r\\n' ).join( '<br>' ));
		};

		let dataSrc	= dataField.attr( 'data-src' );

		$.ajax({
			url		: dataSrc,
			method	: 'GET',
			success	: successCallback
		});
	}
</script>
</html>
