<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("components/partial/stylesheets") %>
	<link rel="stylesheet" href="/node_modules/xterm/css/xterm.css" />
	<link rel="stylesheet" href="/public/css/style.css">

	<title>Terminal</title>
</head>
<body>
	<%- include("components/modal", { active: "terminal" }) %>
	<%- include("components/sidebar", { active: "terminal" }) %>

	<div class="container pt-5 color-gray">
        <h2 id="terminal-404" class="color-gray display-none">If you don't see anything, you may need to enable the terminal</h2>

        <div id="terminal"></div>
	</div>
</body>
<%- include("components/partial/js-libs") %>
<script src="/socket.io/socket.io.js"></script>
<script src="/node_modules/xterm/lib/xterm.js"></script>
<script src="/public/js/terminal/terminal.js"></script>
</html>
