<link rel="stylesheet" href="/public/css/contextmenu.css">

<ul class="contextmenu" id="contextmenu">
    <li>
        <a href="#" id="context-download" >
            <span class="icon fa fa-download"><span class="file-size"></span></span>
            Download
        </a>
    </li>
    <li>
        <a href="#" id="context-delete" >
            <span class="icon fa fa-trash"></span>
            Delete
        </a>
    </li>
    <li>
        <a href="#" id="context-copy" >
            <i class="fa fa-files-o" aria-hidden="true"></i>
            Copy
        </a>
    </li>
    <li>
        <a href="#" id="context-cut" >
            <i class="fa fa-scissors" aria-hidden="true"></i>
            Cut
        </a>
    </li>
    <li>
        <a href="#" id="context-rename" >
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Rename
        </a>
    </li>
    <li>
        <a href="#" id="context-paste" style="display: none">
            <i class="fa fa-paste"></i>
            Paste
        </a>
    </li>
    <li>
        <a href="#" id="context-new-folder" style="display: none">
            <i class="fa fa-folder"></i>
            Add Folder
        </a>
    </li>
</ul>
