<link rel="stylesheet" href="/public/css/dropzone.css">

<form action="/file" class="dropzone mb-5" method="POST" >
    <input type="hidden" name="directory" id="upload-file" value="<%= dir %>">
</form>