<link rel="stylesheet" href="/public/css/modal.css">

<div id="modal" class="modal">
    <div class="modal-content" style="background: #343a40; color: white" id="modal-content">
        <span class="close" onclick="modal.hide()">&times;</span>
        <div class="container">
            <h6><span id="modalText" class="pb-3">Some text in the Modal..</span></h6>
            <div class="row" id="modalInputRow">
                <div class="input-group mb-3 col-lg-9 text-center">
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="modalInput" style="height: 35px">
                </div>

                <button type="button" class="btn btn-outline-secondary col-lg-3 text-center" id="modalSubmit" style="height: 35px">OK</button>
            </div>

            <div class="row" id="modalChoiceRow" style="align-items: center; justify-content: center; display: flex;">
                <button type="button" class="btn btn-outline-secondary col-lg-4 choice-button" id="modalchoiceYes" style="height: 35px">Yes</button>
                <button type="button" class="btn col-lg-4 btn-outline-main-red choice-button" id="modalchoiceNo" style="height: 35px">No</button>
            </div>

            <div class="row" id="modalPreview" style="align-items: center; justify-content: center; display: flex;">
                <video controls class="embed-responsive-item preview-item" id="modalPreviewVideo"></video>

                <video controls class="embed-responsive-item" id="modalPreviewAudio"></video>

                <div class="data-field preview-item" data-src="" id="modalPreviewText"></div>

                <img class="preview-item" src="" alt="" id="modalPreviewImage">
            </div>

            <% if ( active === 'users' ) { %>
                <div class="row" id="userPreview" style="align-items: center; justify-content: center; display: flex;">
                    <div class="input-group mb-3 col-lg-9 text-center">
                        <label for="userPreviewUsername" class="input-label">Username:</label>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="userPreviewUsername" style="height: 35px" disabled>
                    </div>

                    <div class="input-group mb-3 col-lg-9 text-center">
                        <label for="userPreviewPassword" class="input-label">Password:</label>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="userPreviewPassword" style="height: 35px">
                    </div>

                    <div class="input-group mb-3 col-lg-9 text-center">
                        <label for="userPreviewRoute" class="input-label">Route:</label>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="userPreviewRoute" style="height: 35px">
                    </div>

                    <div class="input-group mb-3 col-lg-9 text-center">
                        <label for="userPreviewRoute" class="input-label">isSU:</label>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="userPreviewIsSU" style="height: 35px">
                    </div>

                    <div class="input-group mb-3 col-lg-9 text-center">
                        <label for="userPreviewPermissions" class="input-label">Permissions:</label>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="userPreviewPermissions" style="height: 35px" disabled>
                    </div>

                    <button type="button" class="btn col-lg-4 btn-secondary choice-button" id="userPreviewSave" style="height: 35px">Save</button>
                    <button type="button" class="btn col-lg-4 btn-outline-main-red choice-button" id="userPreviewDelete" style="height: 35px">Delete</button>
                </div>
            <% } %>

        </div>
    </div>
</div>