<link rel="stylesheet" href="/public/css/modal.css">

<div id="modal" class="modal">
	<div class="modal-content" id="modal-content">
		<span class="close" onclick="modal.hide()">&times;</span>
		<div class="container">
			<h6><span id="modalText" class="pb-3">Some text in the Modal..</span></h6>
			<div class="row" id="modalInputRow">
				<div class="input-group mb-3 col-lg-9 text-center">
					<input type="text" class="form-control modal-text" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="modalInput" >
				</div>

				<button type="button" class="btn col-lg-3 text-center modal-button" id="modalSubmit" >OK</button>
			</div>

			<div class="row center-row" id="modalChoiceRow" >
				<button type="button" class="btn modal-button col-lg-4 choice-button" id="modalchoiceYes" >Yes</button>
				<button type="button" class="btn col-lg-4 btn-outline-main-red choice-button" id="modalchoiceNo">No</button>
			</div>

			<div class="row center-row" id="modalPreview" >
				<video controls class="embed-responsive-item preview-item" id="modalPreviewVideo"></video>

				<video controls class="embed-responsive-item" id="modalPreviewAudio"></video>

				<div class="data-field preview-item" data-src="" id="modalPreviewText"></div>

				<img class="preview-item" src="" alt="" id="modalPreviewImage">
			</div>

			<% if ( active === 'users' ) { %>
				<div class="row center-row" id="userPreview" >
					<div class="input-group mb-3 col-lg-9 text-center">
						<label for="userPreviewUsername" class="input-label">Username:</label>
						<input type="text" class="form-control modal-input" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="userPreviewUsername" disabled>
					</div>

					<div class="input-group mb-3 col-lg-9 text-center">
						<label for="userPreviewPassword" class="input-label">Password:</label>
						<input type="text" class="form-control modal-input" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="userPreviewPassword" >
					</div>

					<div class="input-group mb-3 col-lg-9 text-center">
						<label for="userPreviewRoute" class="input-label">Route:</label>
						<input type="text" class="form-control modal-input" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="userPreviewRoute" >
					</div>

					<div class="input-group mb-3 col-lg-9 text-center">
						<label for="userPreviewRoute" class="input-label">Super User:</label>
						<input type="text" class="form-control modal-input" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="userPreviewIsSU" >
					</div>

					<div class="input-group mb-3 col-lg-9 text-center">
						<label for="userPreviewPermissions" class="input-label">Permissions:</label>
						<textarea class="form-control modal-textarea" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="userPreviewPermissions" ></textarea>
					</div>

					<button type="button" class="btn col-lg-4 modal-button choice-button" id="userPreviewSave" >Save</button>
					<button type="button" class="btn col-lg-4 btn-outline-main-red choice-button" id="userPreviewDelete" >Delete</button>
				</div>
			<% } %>

		</div>
	</div>
</div>