<link rel="stylesheet" href="/public/css/users.css">

<div id="userRow" class="col-lg-3" style="display:none;">
	<div class="mb-3 user-row user-rows p-3">
		<i class="fa fa-user" aria-hidden="true">
			<span class="userRowName"></span>
		</i>
	</div>
</div>
